#container {
  width:500px;
  height:300px;
}
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}
button{
   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
}
input {
  float:left;
}
#status {
  /* avoid an excessively wide status text */
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 400px;
}